<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카테고리등록</title>
</head>
<body>
<p class="" th:replace="/fragments/menuLayout.html :: fragment-member-menu"></p>
<p class="rightMenu" th:replace="/fragments/menuLayout.html :: fragment-admin-menu"></p>
<h1>카테고리 등록 페이지</h1>
<form action="/admin/category/register.do" method="post">
    <input type="text" name="categoryName" placeholder="카테고리명">
    <input type="submit" value="등록">
</form>

<table>
    <tr>
        <th>카테고리명</th>
        <th>관리</th>
    </tr>
    <tr th:each="x : ${categories}">
        <th th:text="${x.categoryName}"></th>
        <th>
            <div>
                <form action="/admin/category/delete.do" method="post">
                    <input type="hidden" name="id" th:value="${x.id}">
                    <button >삭제</button>
                </form>
            </div>

        </th>
    </tr>
</table>
</body>
</html>