<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품등록</title>
</head>
<body>

<h1>상품등록 페이지</h1>

<form action="/admin/item/register.do" method="post">
    <select name="categoryId" required>
        <option value="">카테고리선택</option>
        <option value="bone">뼈간식</option>
        <option value="handmade">수제간식</option>
        <option value="dental">덴탈껌</option>
        <option value="nutrition">영양제</option>
    </select>
    <br>
    <input type="text" name="itemName" placeholder="상품명">
    <br>
    <input type="text" name="price" placeholder="상품가격">
    <br>
    <textarea name="description" id="description" cols="10" rows="5" placeholder="상품설명"></textarea>
    <input type="submit" value="등록">
</form>
</body>
</html>